/* Mengatur gaya dasar untuk body */
body {
    font-family: Arial, sans-serif; /* Menggunakan font Arial atau sans-serif sebagai cadangan */
    margin: 0; /* Menghapus margin default pada body */
    padding: 0; /* Menghapus padding default pada body */
    display: flex; /* Menggunakan flexbox untuk perataan */
    justify-content: center; /* Memposisikan konten secara horizontal di tengah */
    align-items: center; /* Memposisikan konten secara vertikal di tengah */
    min-height: 100vh; /* Membuat tinggi minimum 100% viewport height untuk perataan vertikal */
    background-color: #e0f7fa; /* Warna latar belakang biru lembut */
}

/* Mengatur gaya header */
header {
    background-color: #00796b; /* Warna hijau gelap untuk header */
    width: 100%; /* Lebar header 100% dari viewport */
    color: white; /* Warna teks putih */
    text-align: center; /* Teks di tengah secara horizontal */
    padding: 10px 0; /* Padding vertikal 10px, horizontal 0 */
    position: fixed; /* Membuat header tetap di atas saat menggulir halaman */
    top: 0; /* Menempatkan header di bagian atas halaman */
    z-index: 1000; /* Memastikan header selalu di atas elemen lain */
}

/* Mengatur gaya utama (main) */
main {
    margin-top: 70px; /* Memberi jarak dari header tetap */
    padding: 20px; /* Padding 20px di semua sisi */
    background-color: #ffffff; /* Warna latar belakang putih untuk form */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Bayangan lembut di sekitar form */
    border-radius: 10px; /* Sudut yang melengkung dengan radius 10px */
    width: 90%; /* Lebar 90% dari elemen induknya (viewport) */
    max-width: 600px; /* Lebar maksimum form 600px */
}

/* Mengatur gaya form */
form {
    display: flex; /* Menggunakan flexbox untuk layout */
    flex-direction: column; /* Mengatur elemen form dalam kolom vertikal */
}

/* Mengatur gaya label */
label {
    margin-top: 10px; /* Jarak atas 10px dari elemen sebelumnya */
    font-weight: bold; /* Menambah ketebalan font pada label */
}

/* Mengatur gaya input dan select */
input[type="text"], input[type="date"], input[type="email"], input[type="tel"], input[type="number"], select {
    padding: 10px; /* Padding 10px di semua sisi */
    margin-top: 5px; /* Jarak atas 5px dari label */
    border: 1px solid #ccc; /* Border abu-abu terang */
    border-radius: 5px; /* Sudut yang melengkung dengan radius 5px */
    width: 100%; /* Lebar 100% dari elemen induknya */
    box-sizing: border-box; /* Memastikan padding tidak menambah lebar elemen */
}

/* Mengatur gaya input radio */
input[type="radio"] {
    margin-left: 10px; /* Jarak kiri 10px dari label sebelumnya */
}

/* Mengatur gaya tombol submit */
input[type="submit"] {
    margin-top: 20px; /* Jarak atas 20px dari elemen sebelumnya */
    padding: 10px; /* Padding 10px di semua sisi */
    background-color: #00796b; /* Warna hijau gelap yang sama dengan header */
    color: white; /* Warna teks putih */
    border: none; /* Menghapus border default */
    border-radius: 5px; /* Sudut yang melengkung dengan radius 5px */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat hover */
    font-size: 16px; /* Ukuran font 16px */
}

/* Mengatur gaya tombol submit saat hover */
input[type="submit"]:hover {
    background-color: #004d40; /* Warna hijau yang lebih gelap untuk efek hover */
}
